@media (max-width: 1260px) {
  .container {
    padding-right: 20px;
    padding-left: 20px;
  }
}
@media (max-width: 840px) {
  .container {
    padding-right: 46px;
    padding-left: 46px;
  }
  .bigContainer {
    padding-right: 20px;
    padding-left: 20px;
  }
  .blockTitle {
    font-size: 28px;
  }
  .blockSubTitle {
    font-size: 26px;
  }
  .chooseCakeBtn {
      &:hover {
        background-color: #f50049;
        color: #ffffff;
        box-shadow: none;
      }
      &:active {
        background: rgba(0, 0, 0, 0);
        color: #f50049;
        box-shadow: inset 0 0 0 5px #f50049;
      }
  }
}
@media (max-width: 500px) {
  .blockTitle {
    font-size: 24px;
  }
  .blockSubTitle {
    font-size: 22px;
  }
}

@media (max-width: 1100px) {
  .header__menu-burger {
    max-width: 644px;
  }
}
@media (max-width: 930px) {
  .header__menu-burger {
    max-width: 594px;
  }
}
@media (max-width: 840px) {
  .header__logo {
    font-size: 20px;
  }
  .header__number {
    margin-top: 0;
  }
  body.lock {
    overflow: hidden;
  }
  .header__burger {
    display: block;
    width: 26px;
    height: 18px;
    z-index: 21;
    margin-top: 21px;
    position: fixed;
    left: 131px;
    top: 0;

    span {
      position: absolute;
      background-color: #000000;
      border-radius: 1px;
      left: 0;
      width: 100%;
      height: 2px;
      top: 8px;
      transition: all 0.3s;
    }

    &:before, &:after {
      content: '';
      background-color: #000000;
      border-radius: 1px;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      transition: all 0.3s;
    }

    &:before {
      top: 0;
    }

    &:after {
      bottom: 0;
    }
  }
  .header__menu-burger {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
    background-color: #ffffff;
    margin: 0;
    z-index: 20;
    padding: 60px 0 0 0;
    transition: all 0.3s;
    overflow: auto;
  }
  .header__menu {
        &.active {
          display: flex;
        }
    display: none;
    flex-direction: column;
    text-align: center;
    justify-content: center;
        &__item {
          font-size: 25px;
          margin-top: 30px;
        }
  }
  .header__menu-burger.active {
    top: 0;
  }
  .header__logo {
    position: fixed;
    z-index: 21;
    margin-top: 17px;
    top: 0;
    left: 46px;
  }
  .header__number {
    position: fixed;
    z-index: 21;
    margin-top: 15px;
    top: 0;
    right: 46px;
  }
  .header__burger.active:before {
    transform: rotate(45deg);
    top: 8px;
  }
  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 8px;
  }
  .header__burger.active span {
    transform: scale(0);
  }
}

@media (max-width: 500px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .header__burger {
    right: 20px;
    left: auto;
  }
  .header__menu-burger {
    padding-top: 60px;
  }
  .header__number {
    display: none;
  }
  .header__logo {
    left: 20px;
  }
  .header__wrapper {
    padding-top: 40px;
  }
}
///////////////////////HERO/////////////////////

@media (max-width: 1240px) {
  .hero {
    background-size: 70%;
    background-position-y: 0;
    background-position-x: 140%;
  }
}
@media (max-width: 1100px) {
  .hero__content {
    padding-bottom: 160px;
  }
}
@media (max-width: 840px) {
  .hero {
    background-size: 65%;
    background-position-y: 5%;
        &__content {
          padding-top: 102px;
          padding-bottom: 152px;
        }
        &__title {
          margin-bottom: 29px;
          font-size: 60px;
        }
        &__subTitle {
          margin-bottom: 53px;
        }
        &__chooseCakeBtn {
          margin-bottom: 147px;
        }
  }
}
@media (max-width: 670px) {
  .hero {
    background-position-x: 170%;
    &__content {
      padding-top: 112px;
    }
    &__chooseCakeBtn {
      margin-bottom: 80px;
    }
    &__itemStrawberry {
      display: none;
    }
    &__itemFlower {
      display: none;
    }
    &__itemBigStrawberry {
      display: none;
    }
  }
}
@media (max-width: 500px) {
  .hero {
    background-position: center;
    background-position-y: -70%;
    background-size: 70%;
        &__content {
          padding-bottom: 50px;
        }
        &__title {
          font-size: 40px;
          text-align: center;
          letter-spacing: 0.22px;
          line-height: normal;
          margin-bottom: 15px;
        }
        &__subTitle {
          font-size: 22px;
          letter-spacing: normal;
          text-align: center;
          font-style: normal;
        }
        &__contentWrapper {
          display: flex;
          flex-direction: column-reverse;
        }
        &__options {
          flex-direction: column;
          margin-bottom: 42px;
              img {
                width: 13%;
              }
        }
        &__firstOption {
          margin-bottom: 12px;
        }
        &__secondOption {
              span{
                max-width: 200px;
              }
        }
        &__chooseCakeBtn {
          max-width: 240px;
          text-align: center;
          box-sizing: border-box;
          margin: 0 auto;
        }
  }
}
@media (max-width: 400px) {
  .hero {
    background-position-y: -40%;
    background-size: 75%;
  }
}
//////////////////////////ourCakes//////////////////////////////

@media (max-width: 1000px) {
  .ourCakes__wrapper {
        &Top {
          margin-bottom: 30px;
        }
        &__bigBox {
          min-height: 500px;
        }
        &__smallBox {
          min-height: 235px;
        }
        &__boxContainer {
          margin-left: 36px;
        }
        &__boxTitle {
          margin-top: 30px;
        }
        &__boxArrow {
          right: 30px;
        }
  }
}
@media (max-width: 840px) {
  .ourCakes__title {
    margin-bottom: 37px;
  }
  .ourCakes__wrapper {
    &Top {
      margin-bottom: 20px;
    }
    &__bigBox {
      min-height: 388px;
    }
    &__smallBox {
      min-height: 184px;
    }
    &__boxContainer {
      margin-left: 26px;
    }
    &__boxArrow {
      display: none;
    }
    &__boxTitle {
      margin-top: 20px;
      font-size: 14px;
    }
    &__boxText {
      font-size: 12px;
    }
  }
}
@media (max-width: 500px) {
  .ourCakes__title {
    text-align: center;
    margin-bottom: 32px;
  }
  .ourCakes__wrapper {
    flex-direction: column;
        &Top {
          margin-bottom: 0;
        }
        &__bigBox {
          width: 100%;
        }
        &__twoBoxes {
          width: 100%;
        }
        &__smallBox {
          width: 100%;
        }
        &__box {
          margin-bottom: 10px;
          min-height: 120px;
          background-size: 80%;
          background-position-x: 120%;
        }
        &__boxContainer {
          margin-left: 13px;
        }
        &__boxTitle {
          margin-top: 13px;
        }
  }
}
////////////////////////////////////specialOrder///////////////////////

@media (max-width: 1170px) {
  .specialOrder {
        &__steps {
              &__container {
                margin-left: 65px;
                padding-top: 30px;
              }
              &__numBlock {
                margin-right: 60px;
              }
        }
  }
  .filling-slider {
    max-width: 600px;
  }
}
@media (max-width: 1000px) {
  .swiper-filling-slide__textBox__cost {
    margin-bottom: 25px;
  }
  .swiper-filling-slide__textBox {
    padding-right: 20px;
  }
  .swiper-filling-slide__imgBlock {

  }
  .specialOrder {
    &__steps {
      &__container {
        margin-left: 55px;
        padding-top: 20px;
      }
      &__numBlock {
        margin-right: 30px;
      }
    }
  }
  .filling-slider {
    max-width: 550px;
  }
  .swiper-filling-button-next {
    right: -5%;
  }
  .swiper-filling-pagination {
    right: -5%;
  }
  .swiper-filling-slide__textBox__chooseCakeBtn {
    margin-bottom: 34px;
  }
  .swiper-filling-slide__textBox__title {
    margin-top: 40px;
  }
}
@media (max-width: 840px) {
  .specialOrder {
    &__title {
      margin-top: 55px;
    }
    &__firstStep {
      margin-top: 31px;
      &__container {
        padding-bottom: 56px;
      }
    }
    &__steps {
      &__container {
        padding-top: 10px;
        margin-left: 45px;
      }
      &__numBlock {
        margin-right: 0;
        max-width: 127px;
      }
      &__number {
        font-size: 36px;
        margin-bottom: 4px;
      }
      &__text {
        font-size: 18px;
        line-height: 18.24px;
      }
    }
  }
  .filling-slider {
    max-width: 416px;
  }
  .swiper-filling-button-next {
    right: -15%;
  }
  .swiper-filling-pagination {
    right: -15%;
    width: 15%;
  }
  .swiper-filling-slide__textBox {
    margin-left: 25px;
        &__title {
          font-size: 18px;
          margin-top: 25px;
        }
        &__text {
          font-size: 14px;
          max-width: 218px;
        }
        &__cost {
          font-size: 20px;
          margin-top: 0;
        }
        &__chooseCakeBtn {
          margin-bottom: 24px;
        }
  }
  .specialOrder__steps__firstSlider {
    margin-top: 20px;
  }
  .swiper-filling-slide__imgBlock {
    img {
      object-fit: unset;
    }
  }
}
@media (max-width: 700px) {
  .specialOrder {
        &__firstStep {
              &__container {
                flex-direction: column;
                margin-right: 20px;
              }
        }
        &__steps {
              &__container {
                margin-left: 20px;
              }
              &__numBlock {
                display: flex;
                max-width: 100%;
                align-items: flex-end;
              }
              &__number {
                margin-bottom: 0;
                margin-right: 13px;
              }
              &__text {
                max-width: 100%;
                margin-bottom: 1px;
              }
        }
        &__firstStep {
              &__container {
                padding-bottom: 26px;
              }
        }
  }
  .swiper-filling-slide {
    flex-direction: column;
        &__imgBlock {
          width: 100%;
          align-self: center;
            img {
              max-width: 100%;
              width: 100%;
              max-height: 200px;
            }
        }
        &__textBox {
          margin-left: 0;
          text-align: center;
          padding-right: 0;
              &__title {
                text-align: left;
              }
              &__text {
                max-width: 100%;
                text-align: left;
              }
              &__cost {
                margin-bottom: 23px;
                margin-top: 17px;
              }
              &__chooseCakeBtn {
                margin-bottom: 0;

              }
        }
  }
  .filling-slider {
    max-width: 100%;
  }
  .swiper-filling-button {
    display: none;
  }
  .swiper-filling-pagination {
    bottom: auto;
    top: 41%;
    color: #ffffff;
    font-size: 12px;
    right: 0;
  }
}
@media (max-width: 500px) {
  .specialOrder {
      &__title {
        margin-top: 45px;
      }
      &__firstStep {
        margin-top: 19px;
      }
  }
}
@media (max-width: 380px) {
  .specialOrder {
        &__steps {
              &__number {
                font-size: 30px;
              }
              &__text {
                font-size: 16px;
              }
        }
  }
  .swiper-filling-slide {
        &__textBox {
              &__title {
                font-size: 16px;
              }
              &__text {
                font-size: 14px;
              }
              &__cost {
                font-size: 18px;
                margin-top: 12px;
                margin-bottom: 20px;
              }
        }
  }
}

@media (max-width: 1200px) {
  .swiper-sizing-wrapper {
    margin-left: 60px;
  }
}
@media (max-width: 1100px) {
  .swiper-sizing-wrapper {
    margin-left: 20px;
  }
}
@media (max-width: 1000px) {
  .swiper-sizing-wrapper {
    margin-left: 0;
  }
  .swiper-sizing-slide4 {
    margin-right: 40px;
  }
  .swiper-sizing-slide__text {
    font-size: 16px;
  }
}
@media (max-width: 840px) {
  .specialOrder__secondStep {
    margin-top: 21px;
  }
  .swiper-sizing-wrapper {
    padding-bottom: 75px;
  }
  .swiper-sizing-slide {
      &__text {
        font-size: 12px;
        margin-top: 24px;
      }
        &__img-text {
          font-size: 11px;
        }
  }
}
@media (max-width: 700px) {
  .swiper-sizing-slide4 {
    margin-right: 20px;
  }
}
@media (max-width: 620px) {
  .swiper-sizing-slide {
      &1 {
        max-width: 17.2%;
      }
      &2 {
        max-width: 20.2%;
      }
      &3 {
        max-width: 22.5%;
      }
      &4 {
        max-width: 25.7%;
      }
  }
}
@media (max-width: 550px) {
  .swiper-sizing-slide {
    max-width: 100%;
  }
  .swiper-sizing-slide {
    &__text {
      font-size: 14px;
      margin-top: 18px;
    }
    &__img-text {
      font-size: 16px;
    }
    &__body {
      margin-right: 20px;
    }
    &__chooseCakeBtn {
      display: inline-block;
      margin-right: 20px;
      margin-bottom: 26px;
    }
  }
  .sizingSwiper-container {
    text-align: center;
  }
  .swiper-sizing-wrapper {
    margin-top: 15px;
  }
  .sizingSwiper-container>.swiper-pagination-bullets {
    bottom: 100px;
    left: -10px;
  }
}
@media (max-width: 550px) {
  .specialOrder__secondStep {
    margin-top: 10px;
  }
}
@media (max-width: 1200px) {
  .looking-slider {
    max-width: 742px;
  }
  .lookingSwiper-container {
    max-width: 600px;
  }
}
@media (max-width: 1100px) {
  .looking-slider {
    max-width: 642px;
  }
  .lookingSwiper-container {
    max-width: 500px;
  }
  .specialOrder__thirdStep__cakeBg {
    top: 150px;
      img {
        max-width: 80%;
      }
  }
  .cakeChoice__wrapper {
    margin-right: 65px;
  }
}
@media (max-width: 1000px) {
  .looking-slider {
    max-width: 580px;
    margin-left: 150px;
  }
  .lookingSwiper-container {
    max-width: 450px;
  }
  .specialOrder__thirdStep__cakeBg {
    top: 150px;
      img {
        max-width: 80%;
      }
  }
  .cakeChoice__wrapper {
    margin-right: 55px;
  }
}
@media (max-width: 840px) {
  .specialOrder__thirdStep {
    margin-top: 21px;
  }
  .looking-slider {
    max-width: 522px;
    margin-left: 120px;
  }
  .lookingSwiper-container {
    max-width: 417px;
  }
  .specialOrder__thirdStep__cakeBg {
    top: 100px;
      img {
        max-width: 50%;
      }
  }
  .cakeChoice__wrapper {
    margin-right: 45px;
  }
  .swiper-looking-slide {
      &__textBox {
        margin-top: -40px;
        margin-bottom: 20px;
          &__title {
            font-size: 14px;
          }
          &__cost {
            font-size: 14px;
          }
      }
  }
  .swiper-looking-pagination {
    font-size: 12px;
  }
  .cakeChoice {
    margin-top: 30px;
      &__wrapper {
        margin-top: 10px;
        padding-bottom: 44px;
      }
      &__title {
        font-size: 18px;
      }
      &__item{
        border-bottom: 0;
          &__title {
            font-size: 18px;
          }
          &__text {
            font-size: 12px;
            border: 1px solid #dddddd;
            padding: 10px 29px 10px 28px;
            border-radius: 20px;
            margin-top: 10px;
          }
      }
      &__chooseCakeBtn {
        padding: 17px 40px 16px 42px;
        font-size: 10px;
      }
  }
}
@media (max-width: 750px) {
  .looking-slider {
    margin-left: 80px;
  }
}
@media (max-width: 700px) {
  .specialOrder__thirdStep__numBlock {
    float: none;
  }
  .specialOrder__thirdStep__container {
    margin-right: 20px;
  }
  .looking-slider {
    margin-left: 0;
    max-width: 100%;
    margin-top: 5px;
    text-align: center;
  }
  .lookingSwiper-container {
    max-width: 100%;
  }
  .specialOrder__thirdStep__cakeBg {
    display: none;
  }
  .swiper-looking-slide {
    &__textBox {
      margin-top: -55px;
      margin-bottom: 20px;
      &__title {
        font-size: 14px;
      }
      &__cost {
        font-size: 18px;
      }
    }
      &__chooseCakeBtn {
        display: inline-block;
        margin-top: 10px;
      }
      &__imgBlock {
            img {
              max-width: 70%;
            }
      }
  }
  .swiper-looking-pagination {
    bottom: 50px;
  }
  .cakeChoice {
    &__wrapper {
      padding-bottom: 34px;
      flex-direction: column;
      align-items: center;
      margin-right: 0;
    }
    &__title {
      font-size: 22px;
    }
    &__item {
      text-align: center;
      &__title {
        font-size: 20px;
        margin-top: 5px;
      }
      &__text {
        font-size: 14px;
        padding: 7px 62px 8px 61px;
        margin-top: 3px;
        text-align: center;
        min-width: 130px;
      }
    }
    &__chooseCakeBtn {
      padding: 21px 63px 21px 61px;
      font-size: 13px;
      margin-top: 30px;
    }
  }
}
@media (max-width: 500px) {
  .swiper-looking-button {
    display: none;
  }
  .specialOrder__thirdStep {
    margin-top: 10px;
  }
}

@media (max-width: 840px) {
  .reviews {
    padding-bottom: 132px;
        &__title {
          padding-top: 46px;
        }
        &__slider {
          margin-top: 31px;

        }
        &-slider {
          max-width: 450px;
        }
  }
  .swiper-reviews-slide {
    align-items: center;
        &__textBlock {
              &__name {
                font-size: 16px;
              }
              &__prof-age {
                font-size: 14px;
              }
              &__info {
                margin-top: 5px;
                    &__text {
                      font-size: 14px;
                    }
                    &__link {
                      font-size: 14px;
                      margin-left: 0;
                    }
              }
        }
        &__imgBlock {
          margin-right: 25px;
        }
  }
  .swiper-reviews-pagination {
    font-size: 12px;
  }
  .swiper-reviews-button {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    opacity: 0.6;
    border-radius: 50%;
    padding: 20px;
    height: 15%;
        &::after {
          font-size: 0;
        }
  }
}
@media (max-width: 600px) {
  .swiper-reviews-button {
    display: none;
  }
}
@media (max-width: 500px) {
  .reviews {
    padding-bottom: 70px;
    &__title {
      padding-top: 48px;
    }
    &__slider {
      margin-top: 22px;
    }
    &-slider {
      max-width: 100%;
    }
    &__illustration {
      display: none;
    }
  }
  .swiper-reviews-slide {
    align-items: center;
    flex-direction: column;
    &__textBlock {
      &__name {
        font-size: 14px;
        text-align: center;
      }
      &__prof-age {
        font-size: 12px;
        text-align: center;
        display: block;
      }
      &__info {
        text-align: center;
        &__text {
          font-size: 12px;
        }
        &__link {
          font-size: 12px;
        }
      }
    }
    &__imgBlock {
      margin-right: 0;
      text-align: center;
          img {
            max-width: 70%;
            text-align: center;
          }
    }
  }
  .swiper-reviews-pagination {
    width: 10%;
    right: 0;
    bottom: -12px;
  }
}

@media (max-width: 1100px) {
  .about {
        &__textBox {
          margin-right: 0;
        }
  }
}

@media (max-width: 900px) {
  .about {
        &__textBox {
          max-width: 440px;
          margin-right: 30px;
        }
  }
}

@media (max-width: 840px) {
  .about {
        &__title {
          margin-bottom: 7px;
        }
        &__textBox {
          max-width: 350px;
              &__title {
                margin-bottom: 3px;
                font-size: 26px;
              }

        }
  }
}
@media (max-width: 700px) {
  .about {
    &__textBox {
      width: 50%;
    }
    &__imgBox {
      width: 40%;
    }
  }
}
@media (max-width: 650px) {
  .about {
    &__textBox {
      width: 50%;
      margin-right: 10px;
    }
    &__imgBox {
      width: 50%;
    }
  }
}
@media (max-width: 600px) {
  .about {
    &__title {
      display: none;
    }
    &__mainTitle {
      display: block;
      text-align: center;
      margin-bottom: 25px;
    }
    &__wrapper {
      flex-direction: column-reverse;
      align-items: flex-start;
    }
    &__textBox {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 100%;
      margin-right: 0;
          &__title {
            font-size: 22px;
            margin-top: 15px;
          }
          &__subTitle {
            font-size: 14px;
          }
          &__iconList {
            position: absolute;
            display: flex;
            flex-direction: column;
            top: 3%;
            right: 25%;
                img {
                  margin-right: 0;
                  margin-bottom: 12px;
                }
          }
      }
      &__imgBox {
        text-align: left;
        width: 50%;
      }

  }
}
@media (max-width: 400px) {
  .about {
        &__imgBox {
          width: 60%;
        }
        &__textBox {
              &__iconList {
                right: 15%;
                top: 0;
              }
        }

  }
}

@media (max-width: 840px) {
  .quote {
    margin-top: 33px;
        &__text {
          font-size: 14px;
          max-width: 346px;
          margin-top: 20px;
          margin-bottom: 25px;
        }
  }
}

@media (max-width: 500px) {
  .quote {
    margin-top: 40px;
        &__text {
          font-size: 13px;
          max-width: 346px;
          margin-top: 15px;
          margin-bottom: 22px;
          letter-spacing: 0.26px;
        }
  }
}

@media (max-width: 1100px) {
  .advantages {
        &__imgBox {
          margin-right: 90px;
        }
        &__textBox {
          margin-right: 20px;
        }
        &__leafBg {
          width: 8%;
        }
        &__cherryBg {
          width: 5%;
        }
        &__strawBg {
          width: 5%;
        }
        &__leavesBg {
          width: 15%;
        }
  }
}

@media (max-width: 840px) {
  .advantages {
    margin-top: 60px;
        &__subTitle {
          margin-top: 0;
          font-size: 26px;
        }
        &__imgBox {
          margin-right: 60px;
        }
        &__textBox {
              &__subTitle {
                font-size: 15px;
              }
              &__text {
                font-size: 14px;
              }
        }
  }
}

@media (max-width: 700px) {
  .advantages {
    &__wrapper {
      margin-top: 20px;
    }
    &__imgBox {
      margin-right: 0;
      width: 70%;
    }
    &__textBox {
      &__firstTextWrapper {
        margin-left: 18px;
      }
      &__secondTextWrapper {
        margin-left: 12px;
      }
    }
  }
}

@media (max-width: 500px) {
  .advantages {
    margin-top: 35px;
    &__subTitle {
      font-size: 22px;
    }
    &__leafBg {
      display: none;
    }
    &__cherryBg {
      display: none;
    }
    &__strawBg {
      display: none;
    }
    &__leavesBg {
      display: none;
    }
    &__imgBox {
      display: none;
    }
    &__wrapper {
      justify-content: center;
      background-color: #ffffff;
      padding-top: 10px;
      padding-bottom: 15px;
      margin-top: 8px;
    }
    &__textBox {
      margin-right: 0;
          &__subTitle {
            margin-top: 10px;
          }
          &__firstBlock {
            margin-bottom: 20px;
          }
          &__block {
            flex-direction: column;
            text-align: center;
          }
          &__receiptIcon {
            margin-left: 0;
          }
    }
  }
}

@media (max-width: 1100px) {
  .care {
        &__textBox {
          width: 80%;
        }
  }
}
@media (max-width: 840px) {
  .care {
    overflow: hidden;
        &__title {
          margin-bottom: 5px;
        }
        &__subTitle {
          font-size: 26px;
        }
        &__text {
          font-size: 14px;
          line-height: normal;
        }
        &__imgBox {
          margin-right: -80px;
        }
  }
}

@media (max-width: 700px) {
  .care {
        &__imgBox {
          width: 90%;
          margin-right: -110px;
        }
  }
}

@media (max-width: 500px) {
  .care {
        &__wrapper {
          flex-direction: column;
        }
        &__imgBox {
          margin-right: 0;
          margin-bottom: -75%;
          width: 130%;

        }
        &__textBox {
          width: 100%;
          margin-top: 35px;
        }
        &__subTitle {
          font-size: 22px;
        }
  }
}

@media (max-width: 1260px) {
  .orderInfo {
        &__imgBox {
          img {
            margin-left: -30%;
          }
        }
        &__textBox {
          left: 55%;
        }
  }
}

@media (max-width: 1040px) {
  .orderInfo {
        &__imgBox {
              img {
                max-width: 125%;
              }
        }
        &__textBox {
          left: 45%;
          top: 3vh;
        }
  }
}

@media (max-width: 840px) {
  .orderInfo {
        &__textBox {
          max-width: 332px;
          top: 10vh;
              &__title {
                margin-bottom: 30px;
              }
              &__block {
                margin-bottom: 30px;
              }
              &__number {
                font-size: 36px;
              }
              &__subTitle {
                font-size: 15px;
              }
              &__text {
                font-size: 14px;
                line-height: 16px;
              }
        }
  }
}

@media (max-width: 700px) {
  .orderInfo {
        &__textBox {
          top: 5vh;
          left: 43%;
              &__title {
                margin-bottom: 20px;
              }
              &__block {
                margin-bottom: 20px;
              }
        }
  }
}

@media (max-width: 600px) {
  .orderInfo {
        &__wrapper {
          background-image: url("../img/orderInfo__bg.png");
        }
        &__textBox {
          position: static;
          margin-left: 40px;
          margin-right: 40px;
          max-width: 100%;
              &__block {
                margin-bottom: 15px;
              }
              &__title {
                margin-top: 35px;
                text-align: center;
              }
              &__number {
                font-size: 35px;
                margin-bottom: 45px;
              }
        }
        &__imgBox {
          background: url("../img/orderInfo__presentMobile.png") center/cover no-repeat;
          margin-top: -30px;
              img {
                margin-left: 0;
                opacity: 0;
                visibility: hidden;
              }
        }
  }
}

@media (max-width: 340px) {
  .orderInfo {
        &__textBox {
              &__number {
                margin-bottom: 55px;
              }
        }
  }
}

@media (max-width: 1000px) {
  .contacts {
        &__wrapper {
          padding-bottom: 250px;
        }
        &__form {
              input {
                min-width: 500px;
              }
        }
    background-size: 80%;
    background-position-x: 150%;
  }
}

@media (max-width: 840px) {
  .contacts {
    background-size: 65%;
        &__title {
          margin-top: 45px;
          margin-bottom: 5px;
        }
        &__subTitle {
          margin-bottom: 10px;
          font-size: 22px;
        }
        &__wrapper {
          padding-bottom: 110px;
        }
        &__form {
          margin-right: 67px;
              &__text {
                margin-bottom: 18px;
                font-size: 14px;
                max-width: 300px;
                line-height: 14.12px;
              }
              input {
                background-color: #ffffff;
                padding: 18px 0 21px 11px;
                border: none;
                min-width: 346px;
                margin-bottom: 10px;
                transition: all .5s ease-in-out;
                &:hover {
                  border: none;
                }
                &:focus {
                  border: 1px solid #f50049;
                  transform: scale(1.02);
                }
              }
              textarea {
                margin-bottom: 30px;
                background-color: #ffffff;
                padding: 18px 11px 90px 11px;
                border: none;
                line-height: 15px;
                transition: .5s;
                &:hover {
                  border: none;
                }
                &:focus {
                  border: 1px solid #f50049;
                  transform: scale(1.02);
                }
              }
              &__sendBtn {
                    &:hover {
                      background-color: #f50049;
                      color: #ffffff;
                      box-shadow: none;
                    }
                    &:active {
                      background: rgba(0, 0, 0, 0);
                      color: #f50049;
                      box-shadow: inset 0 0 0 5px #f50049;
                    }
              }
        }
        &__info {
          font-size: 14px;
          line-height: normal;
        }
  }
}

@media (max-width: 700px) {
  .contacts {
    background-size: 75%;
        &__form {
          margin-right: 30px;
              input {
                min-width: 250px;
              }
        }
        &__info {
              &__icons {
                  margin-top: 20px;
                      a {
                        margin-right: 10px;
                      }
              }
        }
  }
}

@media (max-width: 550px) {
  .contacts {
        &__title {
          text-align: center;
          margin-top: 35px;
        }
        &__subTitle {
          margin-bottom: 5px;
        }
        &__wrapper {
          flex-direction: column;
          padding-bottom: 50px;
        }
        &__form {
          margin-right: 0;
              &__text {
                margin-bottom: 12px;
              }
              input {
                max-width: 100%;
                padding-right: 11px;
              }
              textarea {
                margin-bottom: 20px;
                max-width: 100%;
              }
              &__sendBtn {
                margin: 0 auto 25px;
              }
        }
        &__info {
              &__icons {
                margin-top: 10px;
              }
        }
  }
}

@media (max-width: 840px) {
  .footer {
    background-color: #898989;
    &__wrapper {
      padding-top: 30px;
      padding-bottom: 30px;
    }
    &__logo {
      color: #ffffff;
      font-size: 18px;
    }
    &__menu {
      width: 85%;
      &__item {
        color: #ffffff;
        font-size: 12px;
      }
    }
    &__icons {
      display: none;
          a {
            opacity: 0.7;
          }
          img {
            filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(317deg) brightness(103%) contrast(102%);
          }
    }
    &__copyright {
      opacity: 0.5;
      color: #ffffff;
      font-family: "Roboto", sans-serif;
      font-size: 12px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      line-height: 25px;
      text-align: center;
      padding: 15px 0;
    }
  }
}
@media (max-width: 600px) {
  .footer {
    &__wrapper {
      padding-top: 35px;
      padding-bottom: 20px;
      display: block;
    }
    &__logo {
      font-size: 28px;
      margin-bottom: 5px;
      display: inline-block;
    }
    &__menu {
      width: 100%;
      flex-direction: column;
      &__item {
        font-size: 14px;
        margin-bottom: 10px;
      }
    }
    &__icons {
      display: block;
      opacity: 1;
      margin-top: 0;
    }
    &__copyright {
      padding: 0;
      text-align: left;
    }
  }
}