@charset "UTF-8";
@font-face {
  font-family: "Circe";
  src: url("../fonts/Circe-regular.eot");
  src: local("☺"), url("../fonts/Circe-regular.woff") format("woff"), url("../fonts/Circe-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Circe";
  src: url("../fonts/Circe-bold.eot");
  src: local("☺"), url("../fonts/Circe-bold.woff") format("woff"), url("../fonts/Circe-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Intro Script R - H 2 Base";
  src: url("../fonts/IntroScriptR-H2Base.eot");
  src: local("☺"), url("../fonts/IntroScriptR-H2Base.woff") format("woff"), url("../fonts/IntroScriptR-H2Base.ttf") format("truetype"), url("../fonts/IntroScriptR-H2Base.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/PlayfairDisplay-Italic-VariableFont_wght.eot");
  src: local("☺"), url("../fonts/PlayfairDisplay-Italic-VariableFont_wght.woff") format("woff"), url("../fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf") format("truetype"), url("../fonts/PlayfairDisplay-Italic-VariableFont_wght.svg") format("svg");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/PlayfairDisplay-VariableFont_wght.eot");
  src: local("☺"), url("../fonts/PlayfairDisplay-VariableFont_wght.woff") format("woff"), url("../fonts/PlayfairDisplay-VariableFont_wght.ttf") format("truetype"), url("../fonts/PlayfairDisplay-VariableFont_wght.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.eot");
  src: local("☺"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
body {
  font-family: "Circe", sans-serif;
  position: relative;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
}

*:focus {
  outline: none !important;
}

* {
  -webkit-tap-highlight-color: transparent;
}

.body-backGround {
  background-color: #fbebea;
  z-index: -2;
  position: absolute;
  right: 0;
  width: 100%;
  top: 0;
}

.blockTitle {
  font-family: "Playfair Display", sans-serif;
  color: #2d2829;
  font-size: 40px;
  font-weight: 700;
  text-align: left;
  font-style: normal;
  letter-spacing: 0.06px;
  line-height: normal;
}

.blockSubTitle {
  font-family: "Intro Script R - H 2 Base", sans-serif;
  color: #32313d;
  font-size: 35px;
  font-weight: 400;
  text-align: left;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 58px;
}
.header__logo {
  font-family: "Playfair Display", sans-serif;
  color: #2d2829;
  font-size: 23px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.36px;
  line-height: normal;
  text-decoration: none;
}
.header__menu-burger {
  max-width: 744px;
  width: 100%;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 8px;
  width: 100%;
}
.header__menu__item {
  font-family: "Circe", sans-serif;
  color: #2d2829;
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 30.67px;
  text-transform: uppercase;
  text-decoration: none;
}
.header__menu__item-highlighted {
  color: #f50049;
}
.header__number {
  font-family: "Circe", sans-serif;
  color: #2d2829;
  font-size: 15px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 30.67px;
  margin-top: 8px;
}
.header__burger {
  display: none;
}

.hero {
  background: url("../img/hero__topImg.png") no-repeat right/contain;
  background-position-x: 140%;
  position: relative;
}
.hero__content {
  max-width: 463px;
  padding-top: 130px;
  padding-bottom: 258px;
}
.hero__title {
  font-family: "Playfair Display", sans-serif;
  color: #2e2829;
  font-size: 78px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 70px;
  margin-bottom: 31px;
}
.hero__subTitle {
  font-family: "Intro Script R - H 2 Base", sans-serif;
  color: #32313d;
  font-size: 41px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  margin-bottom: 58px;
}
.hero__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.hero__options img {
  -webkit-filter: invert(13%) sepia(72%) saturate(7498%) hue-rotate(337deg) brightness(94%) contrast(105%);
          filter: invert(13%) sepia(72%) saturate(7498%) hue-rotate(337deg) brightness(94%) contrast(105%);
  margin-right: 12px;
}
.hero__option {
  font-family: "Circe", sans-serif;
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero__secondOption span {
  max-width: 172px;
}
.hero__itemStrawberry {
  position: absolute;
  top: 40px;
  left: 45%;
  opacity: 0.5;
  z-index: -1;
  max-width: 100%;
}
.hero__itemFlower {
  position: absolute;
  top: 228px;
  left: 40%;
  opacity: 0.5;
  z-index: -1;
}
.hero__itemBigStrawberry {
  position: absolute;
  top: 338px;
  left: 30%;
  opacity: 0.5;
  z-index: -1;
}

.chooseCakeBtn {
  font-family: "Circe", sans-serif;
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: inherit;
  text-align: left;
  text-transform: uppercase;
  border-radius: 26px;
  background-color: #f50049;
  display: inline-block;
  padding: 20px 67px 18px 66px;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.chooseCakeBtn:hover {
  background: rgba(0, 0, 0, 0);
  color: #f50049;
  -webkit-box-shadow: inset 0 0 0 5px #f50049;
          box-shadow: inset 0 0 0 5px #f50049;
}

.hero__chooseCakeBtn {
  margin-bottom: 128px;
}

.ourCakes__title {
  margin-bottom: 61px;
}
.ourCakes__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.ourCakes__wrapperTop {
  margin-bottom: 40px;
}
.ourCakes__wrapper__boxContainer {
  margin-left: 46px;
}
.ourCakes__wrapper__boxTitle {
  font-family: "Circe", sans-serif;
  color: #2d2829;
  font-size: 24px;
  font-weight: 400;
  text-align: left;
  font-style: normal;
  letter-spacing: normal;
  line-height: inherit;
  margin-top: 40px;
  margin-bottom: 3px;
}
.ourCakes__wrapper__boxText {
  font-family: "Circe", sans-serif;
  opacity: 0.7;
  color: #2d2829;
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  font-style: normal;
  letter-spacing: normal;
  line-height: inherit;
}
.ourCakes__wrapper__bigBox {
  width: 57%;
  min-height: 654px;
}
.ourCakes__wrapper__twoBoxes {
  width: 39.6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.ourCakes__wrapper__smallBox {
  min-height: 307px;
}
.ourCakes__wrapper__box {
  position: relative;
}
.ourCakes__wrapper__box1 {
  background: white url("../img/whiteCake.png") no-repeat center/contain;
}
.ourCakes__wrapper__box2 {
  background: white url("../img/blackCake.png") no-repeat center/contain;
}
.ourCakes__wrapper__box3 {
  background: white url("../img/marryCake.png") no-repeat center/contain;
}
.ourCakes__wrapper__box4 {
  background: white url("../img/chocoCake.png") no-repeat center/contain;
}
.ourCakes__wrapper__box5 {
  background: white url("../img/flowerCake.png") no-repeat center/contain;
}
.ourCakes__wrapper__box6 {
  background: #f3f1f4 url("../img/candyCake.png") no-repeat center/contain;
}
.ourCakes__wrapper__boxArrow {
  font-family: "Circe", sans-serif;
  color: #2d2829;
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  font-style: normal;
  letter-spacing: normal;
  line-height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  position: absolute;
  bottom: 17px;
  right: 48px;
  padding: 20px;
}
.ourCakes__wrapper__boxArrow span {
  margin-right: 24px;
}

.specialOrder__title {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 6px;
}
.specialOrder__subTitle {
  text-align: center;
}
.specialOrder__firstStep {
  background-color: #ffffff;
  -webkit-box-shadow: 0 5px 13px 1px rgba(163, 6, 60, 0.1);
          box-shadow: 0 5px 13px 1px rgba(163, 6, 60, 0.1);
  margin-top: 49px;
}
.specialOrder__firstStep__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 93px;
}
.specialOrder__steps__container {
  margin-left: 80px;
  padding-top: 40px;
}
.specialOrder__steps__numBlock {
  margin-right: 80px;
}
.specialOrder__steps__number {
  font-family: "Playfair Display", sans-serif;
  color: #f50049;
  font-size: 58px;
  font-weight: 700;
  text-align: left;
  font-style: normal;
  letter-spacing: 0.04px;
  line-height: inherit;
}
.specialOrder__steps__text {
  font-family: "Playfair Display", sans-serif;
  color: #f50049;
  font-size: 27px;
  font-weight: 700;
  text-align: left;
  font-style: normal;
  letter-spacing: 0.05px;
  line-height: normal;
  max-width: 133px;
}
.specialOrder__steps__firstSlider {
  margin-top: 40px;
  position: relative;
}

.filling-slider {
  max-width: 700px;
}

.swiper-filling-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.swiper-filling-slide__imgBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.swiper-filling-slide__imgBlock img {
  display: block;
  background-color: #fbebea;
  max-width: 100%;
  -o-object-fit: unset;
     object-fit: unset;
}
.swiper-filling-slide__textBox {
  margin-left: 42px;
}
.swiper-filling-slide__textBox__title {
  font-family: "Circe", sans-serif;
  color: #2f2f2f;
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.04px;
  line-height: normal;
  margin-top: 65px;
}
.swiper-filling-slide__textBox__text {
  font-family: "Circe", sans-serif;
  color: #2f2f2f;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  max-width: 278px;
  display: block;
}
.swiper-filling-slide__textBox__cost {
  font-family: "Playfair Display", sans-serif;
  color: #2f2f2f;
  font-size: 22px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  display: block;
  margin-top: 14px;
  margin-bottom: 50px;
}
.swiper-filling-slide__textBox__chooseCakeBtn {
  margin-bottom: 56px;
}

.swiper-button-prev {
  background: inherit;
  outline: none;
  border: none;
  left: -15%;
  top: 45%;
}
.swiper-button-prev::after {
  content: url("../img/slider__arrowLeft.png");
}

.swiper-button-next {
  background: inherit;
  outline: none;
  border: none;
  right: -15%;
  top: 45%;
}
.swiper-button-next::after {
  content: url("../img/slider__arrowRight.png");
}

.swiper-filling-pagination {
  font-family: "Circe", sans-serif;
  opacity: 0.7;
  color: #2f2f2f;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  position: absolute;
  bottom: 0;
  right: -15%;
  left: auto;
  width: 10%;
}

.specialOrder__secondStep {
  background-color: #ffffff;
  margin-top: 35px;
  -webkit-box-shadow: 0 5px 13px 1px rgba(163, 6, 60, 0.1);
          box-shadow: 0 5px 13px 1px rgba(163, 6, 60, 0.1);
}

.swiper-sizing-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 842px;
  margin-left: 110px;
  padding-bottom: 148px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.swiper-sizing-slide1 {
  max-width: 15%;
}
.swiper-sizing-slide2 {
  max-width: 18.2%;
}
.swiper-sizing-slide3 {
  max-width: 20.5%;
}
.swiper-sizing-slide4 {
  max-width: 23.7%;
}
.swiper-sizing-slide__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.swiper-sizing-slide__text {
  font-family: "Circe", sans-serif;
  opacity: 0.8;
  color: #2f2f2f;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  margin-top: 35px;
}
.swiper-sizing-slide__img {
  position: relative;
}
.swiper-sizing-slide__img img {
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.swiper-sizing-slide__img-text {
  font-family: "Circe", sans-serif;
  color: #2f2f2f;
  font-size: 17px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.swiper-sizing-slide__chooseCakeBtn {
  display: none;
}

.specialOrder__thirdStep {
  background-color: #ffffff;
  margin-top: 35px;
  -webkit-box-shadow: 0 5px 13px 1px rgba(163, 6, 60, 0.1);
          box-shadow: 0 5px 13px 1px rgba(163, 6, 60, 0.1);
  position: relative;
}
.specialOrder__thirdStep__numBlock {
  float: left;
}
.specialOrder__thirdStep__cakeBg {
  position: absolute;
  top: 190px;
}
.specialOrder__thirdStep__cakeBg img {
  max-width: 100%;
}

.lookingSwiper-container {
  max-width: 683px;
}

.looking-slider {
  max-width: 842px;
  margin-left: 210px;
  margin-top: 25px;
  position: relative;
}

.swiper-looking-wrapper {
  padding-bottom: 10px;
}

.swiper-looking-slide {
  text-align: center;
  -webkit-box-shadow: 0 10px 10px -3px rgba(246, 246, 246, 0.75);
          box-shadow: 0 10px 10px -3px rgba(246, 246, 246, 0.75);
}
.swiper-looking-slide__textBox {
  margin-top: -80px;
  margin-bottom: 30px;
}
.swiper-looking-slide__textBox__title {
  font-family: "Circe", sans-serif;
  color: #2f2f2f;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: inherit;
}
.swiper-looking-slide__textBox__cost {
  font-family: "Playfair Display", sans-serif;
  color: #2f2f2f;
  font-size: 22px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: inherit;
}
.swiper-looking-slide__imgBlock img {
  max-width: 100%;
}
.swiper-looking-slide__chooseCakeBtn {
  display: none;
}

.swiper-looking-button-prev {
  left: 0;
}

.swiper-looking-button-next {
  right: 0;
}

.swiper-looking-pagination {
  bottom: 0;
  right: 0;
  text-align: right;
  font-family: "Circe", sans-serif;
  opacity: 0.7;
  color: #2f2f2f;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.cakeChoice {
  margin-top: 64px;
}
.cakeChoice__title {
  font-family: "Playfair Display", sans-serif;
  color: #2d2829;
  font-size: 27px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.04px;
  line-height: normal;
}
.cakeChoice__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 88px;
  padding-bottom: 70px;
  margin-top: 20px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.cakeChoice__item {
  border-bottom: 1px solid #c1b0af;
  padding-bottom: 2px;
}
.cakeChoice__item__title {
  font-family: "Intro Script R - H 2 Base", sans-serif;
  color: #f50049;
  font-size: 27px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}
.cakeChoice__item__text {
  font-family: "Circe", sans-serif;
  color: #2f2f2f;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.33px;
  line-height: normal;
  margin-top: 15px;
  display: inline-block;
}

.reviews {
  position: relative;
  padding-bottom: 190px;
  overflow: hidden;
}
.reviews__illustration {
  position: absolute;
  top: 0;
  max-width: 40%;
}
.reviews__illustration1 {
  left: 0;
}
.reviews__illustration2 {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
  right: 0;
}
.reviews__title {
  text-align: center;
  padding-top: 115px;
}

.reviews__slider {
  max-width: 841px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 64px auto 0;
}

.reviews-slider {
  max-width: 616px;
}

.swiper-reviews-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.swiper-reviews-slide__imgBlock img {
  max-width: 100%;
}
.swiper-reviews-slide__textBlock__name {
  font-family: "Circe", sans-serif;
  color: #2d2829;
  font-size: 27px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}
.swiper-reviews-slide__textBlock__prof-age {
  font-family: "Circe", sans-serif;
  color: #2d2829;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}
.swiper-reviews-slide__textBlock__info {
  max-width: 353px;
  margin-top: 23px;
}
.swiper-reviews-slide__textBlock__info__text {
  font-family: "Circe", sans-serif;
  color: #2d2829;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}
.swiper-reviews-slide__textBlock__info__link {
  font-family: "Circe", sans-serif;
  opacity: 0.7;
  color: #f50049;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: normal;
  line-height: normal;
  margin-left: 5px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.swiper-reviews-slide__textBlock__info__link:hover {
  opacity: 0.5;
}

.swiper-reviews-button {
  padding: 10px 20px;
}

.swiper-reviews-button-prev {
  left: 0;
}

.swiper-reviews-button-next {
  right: 0;
}

.swiper-reviews-pagination {
  font-family: "Circe", sans-serif;
  opacity: 0.7;
  color: #f50049;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  right: 30px;
  display: inline-block;
  width: 5%;
  left: auto;
  bottom: 0;
}

.about__title {
  line-height: inherit;
  display: inline-block;
  margin-bottom: 30px;
}
.about__mainTitle {
  display: none;
}
.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.about__textBox {
  max-width: 552px;
  margin-right: 90px;
}
.about__textBox__title {
  font-family: "Intro Script R - H 2 Base", sans-serif;
  color: #32313d;
  font-size: 26px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  margin-bottom: 9px;
}
.about__textBox__subTitle {
  font-family: "Circe", sans-serif;
  color: #2d2829;
  font-size: 15px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  margin-bottom: 5px;
}
.about__textBox__text {
  font-family: "Circe", sans-serif;
  color: #2d2829;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  margin-bottom: 10px;
  display: inline-block;
}
.about__textBox__text:last-of-type {
  margin-bottom: 0;
}
.about__textBox__iconList {
  margin-top: 15px;
}
.about__textBox__iconList img {
  margin-right: 15px;
}
.about__imgBox img {
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.quote {
  margin-top: 111px;
}
.quote__container {
  text-align: center;
}
.quote__container img {
  max-width: 100%;
}
.quote__text {
  font-family: "Playfair Display", sans-serif;
  color: #2d2829;
  font-size: 25px;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 0.22px;
  line-height: normal;
  text-align: center;
  max-width: 616px;
  margin: 40px auto 50px auto;
}