@font-face {
  font-family: 'Circe';
  src: url('../fonts/Circe-regular.eot');
  src: local('☺'), url('../fonts/Circe-regular.woff') format('woff'), url('../fonts/Circe-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src: url('../fonts/Circe-bold.eot');
  src: local('☺'), url('../fonts/Circe-bold.woff') format('woff'), url('../fonts/Circe-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Intro Script R - H 2 Base';
  src: url('../fonts/IntroScriptR-H2Base.eot');
  src: local('☺'), url('../fonts/IntroScriptR-H2Base.woff') format('woff'), url('../fonts/IntroScriptR-H2Base.ttf') format('truetype'), url('../fonts/IntroScriptR-H2Base.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-Italic-VariableFont_wght.eot');
  src: local('☺'), url('../fonts/PlayfairDisplay-Italic-VariableFont_wght.woff') format('woff'), url('../fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf') format('truetype'), url('../fonts/PlayfairDisplay-Italic-VariableFont_wght.svg') format('svg');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-VariableFont_wght.eot');
  src: local('☺'), url('../fonts/PlayfairDisplay-VariableFont_wght.woff') format('woff'), url('../fonts/PlayfairDisplay-VariableFont_wght.ttf') format('truetype'), url('../fonts/PlayfairDisplay-VariableFont_wght.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.eot');
  src: local('☺'), url('../fonts/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto-Regular.ttf') format('truetype'), url('../fonts/Roboto-Regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Circe", sans-serif;
  position: relative;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
}

*:focus {
  outline: none !important;
}
* {
  -webkit-tap-highlight-color: transparent;
}

.body-backGround {
  background-color: #fbebea;
  //z-index: -2;
  //position: absolute;
  //right: 0;
  //width: 100%;
  //top: 0;
}

.blockTitle {
  font-family: "Playfair Display",sans-serif;
  color: #2d2829;
  font-size: 40px;
  font-weight: 700;
  text-align: left;
  font-style: normal;
  letter-spacing: 0.06px;
  line-height: normal;
}
.blockSubTitle {
  font-family: "Intro Script R - H 2 Base", sans-serif;
  color: #32313d;
  font-size: 35px;
  font-weight: 400;
  text-align: left;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}
.header {
      &__wrapper {
        display: flex;
        justify-content: space-between;
        padding-top: 58px;
      }
      &__logo {
        font-family: "Playfair Display",sans-serif;
        color: #2d2829;
        font-size: 23px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: 0.36px;
        line-height: normal;
        text-decoration: none;
      }
      &__menu-burger {
        max-width: 744px;
        width: 100%;
      }
      &__menu {
        display: flex;
        justify-content: space-between;
        margin-top: 8px;
        width: 100%;
            &__item {
              font-family: "Circe", sans-serif;
              color: #2d2829;
              font-size: 13px;
              font-weight: 400;
              font-style: normal;
              letter-spacing: normal;
              line-height: 30.67px;
              text-transform: uppercase;
              text-decoration: none;
              transition: all .5s ease-in-out;
                  &:hover {
                    color: #f50049;
                  }
            }
      }
      &__number {
        font-family: "Circe",sans-serif;
        color: #2d2829;
        font-size: 15px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        line-height: 30.67px;
        margin-top: 8px;
        text-decoration: none;
      }
      &__burger {
        display: none;
      }
}

.hero {
  background: url("../img/hero__topImg.png") no-repeat right/contain;
  background-position-x: 140%;
  position: relative;
  z-index: 1;
      &__content {
        max-width: 463px;
        padding-top: 130px;
        padding-bottom: 258px;
      }
      &__title {
        font-family: "Playfair Display",sans-serif;
        color: #2e2829;
        font-size: 78px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        line-height: 70px;
        margin-bottom: 31px;
      }
      &__subTitle {
        font-family: "Intro Script R - H 2 Base",sans-serif;
        color: #32313d;
        font-size: 41px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        margin-bottom: 58px;
      }
      &__options {
        img {
          filter: invert(13%) sepia(72%) saturate(7498%) hue-rotate(337deg) brightness(94%) contrast(105%);
          margin-right: 12px;
        }
        display: flex;
        justify-content: space-between;
      }
      &__option {
        font-family: "Circe", sans-serif;
        color: #000000;
        font-size: 14px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 18px;
        display: flex;
        align-items: center;
      }
      &__secondOption {
        span {
          max-width: 172px;
        }
      }
      &__itemStrawberry {
        position: absolute;
        top: 40px;
        right: 50%;
        opacity: 0.5;
        z-index: -1;
        max-width: 100%;
      }
      &__itemFlower {
        position: absolute;
        top: 228px;
        right: 60%;
        opacity: 0.5;
        z-index: -1;
      }
      &__itemBigStrawberry {
        position: absolute;
        top: 400px;
        right: 55%;
        opacity: 0.5;
        z-index: -1;
      }
}
.chooseCakeBtn {
  font-family: "Circe",sans-serif;
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: inherit;
  text-align: left;
  text-transform: uppercase;
  border-radius: 26px;
  background-color: #f50049;
  display: inline-block;
  padding: 20px 67px 18px 66px;
  cursor: pointer;
  text-decoration: none;
  transition: all 500ms ease;
  &:hover {
        background: rgba(0,0,0,0);
        color: #f50049;
        box-shadow: inset 0 0 0 5px #f50049;
      }
}
.hero__chooseCakeBtn {
  margin-bottom: 128px;
}


.ourCakes {
      &__title {
        margin-bottom: 61px;
      }
      &__wrapper {
        display: flex;
        justify-content: space-between;
            &Top {
              margin-bottom: 40px;
            }
            &__boxContainer {
              margin-left: 46px;
            }
            &__boxTitle {
              font-family: "Circe",sans-serif;
              color: #2d2829;
              font-size: 24px;
              font-weight: 400;
              text-align: left;
              font-style: normal;
              letter-spacing: normal;
              line-height:inherit;
              margin-top: 40px;
              margin-bottom: 3px;
            }
            &__boxText {
              font-family: "Circe",sans-serif;
              opacity: 0.7;
              color: #2d2829;
              font-size: 20px;
              font-weight: 400;
              text-align: left;
              font-style: normal;
              letter-spacing: normal;
              line-height: inherit;
            }
            &__bigBox {
              width: 57%;
              min-height: 654px;
            }
            &__twoBoxes {
              width: 39.6%;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
            }
            &__smallBox {
              min-height: 307px;
            }
            &__box {
              position: relative;
              cursor: pointer;
              transition: all .5s;
                  &:hover {
                    box-shadow: 0 0 10px 0 rgba(245,0,73,0.25);
                    transform: scale(1.02);
                  }
                  &1 {
                    background: white url("../img/whiteCake.png") no-repeat center/contain;
                  }
                  &2 {
                    background: white url("../img/blackCake.png") no-repeat center/contain;
                  }
                  &3 {
                    background: white url("../img/marryCake.png") no-repeat center/contain;
                  }
                  &4 {
                    background: white url("../img/chocoCake.png") no-repeat center/contain;
                  }
                  &5 {
                    background: white url("../img/flowerCake.png") no-repeat center/contain;
                  }
                  &6 {
                    background: #f3f1f4 url("../img/candyCake.png") no-repeat center/contain;
                  }
            }
            &__boxArrow {
              font-family: "Circe",sans-serif;
              color: #2d2829;
              font-size: 20px;
              font-weight: 400;
              text-align: left;
              font-style: normal;
              letter-spacing: normal;
              line-height: inherit;
              display: flex;
              align-items: center;
              text-decoration: none;
              position: absolute;
              bottom: 17px;
              right: 48px;
              padding: 20px;
                  span {
                    margin-right: 24px;
                  }
            }

      }
}

.specialOrder {
      &__title {
        text-align: center;
        margin-top: 100px;
        margin-bottom: 6px;
      }
      &__subTitle {
        text-align: center;
      }
      &__firstStep {
        background-color: #ffffff;
        box-shadow: 0 5px 13px 1px rgba(163, 6, 60, 0.1);
        margin-top: 49px;
            &__container {
              display: flex;
              padding-bottom: 93px;
            }
      }
      &__steps {
            &__container {
              margin-left: 80px;
              padding-top: 40px;
            }
            &__numBlock {
              margin-right: 80px;
            }
            &__number {
              font-family: "Playfair Display",sans-serif;
              color: #f50049;
              font-size: 58px;
              font-weight: 700;
              text-align: left;
              font-style: normal;
              letter-spacing: 0.04px;
              line-height: inherit;
            }
            &__text {
              font-family: "Playfair Display",sans-serif;
              color: #f50049;
              font-size: 27px;
              font-weight: 700;
              text-align: left;
              font-style: normal;
              letter-spacing: 0.05px;
              line-height: normal;
              max-width: 133px;
            }
            &__firstSlider {
              margin-top: 40px;
              position: relative;
            }
      }
}
.filling-slider {
  max-width: 700px;
}
.swiper-filling-slide {
  display: flex;
      &__imgBlock {
        display: flex;
        width: 49%;
            img {
              display: block;
              background-color: #fbebea;
              max-width: 100%;
              object-fit: unset;
            }
      }
      &__textBox {
        margin-left: 42px;
            &__title {
              font-family: "Circe",sans-serif;
              color: #2f2f2f;
              font-size: 20px;
              font-weight: 700;
              font-style: normal;
              letter-spacing: 0.04px;
              line-height: normal;
              margin-top: 65px;
            }
            &__text {
              font-family: "Circe", sans-serif;
              color: #2f2f2f;
              font-size: 18px;
              font-weight: 400;
              font-style: normal;
              letter-spacing: normal;
              line-height: normal;
              max-width: 278px;
              display: block;
            }
            &__cost {
              font-family: "Playfair Display",sans-serif;
              color: #2f2f2f;
              font-size: 22px;
              font-weight: 700;
              font-style: normal;
              letter-spacing: normal;
              line-height: normal;
              display: block;
              margin-top: 14px;
              margin-bottom: 50px;
            }
            &__chooseCakeBtn {
              margin-bottom: 56px;
              outline: none;
              border: none;
                  &:active {
                    box-shadow: 0 0 10px 0 rgba(245,0,73,0.5);
                  }
                  &.choosed {
                    box-shadow: 0 0 20px 0 rgba(245,0,73,0.5);
                  }
            }
      }
}
.swiper-button-prev {
  background: inherit;
  outline: none;
  border: none;
  left: -15%;
  top: 45%;
      &::after {
        content: url("../img/slider__arrowLeft.png");
      }
}
.swiper-button-next {
  background: inherit;
  outline: none;
  border: none;
  right: -15%;
  top: 45%;
      &::after {
        content: url("../img/slider__arrowRight.png");
      }
}
.swiper-filling-pagination {
  font-family: "Circe",sans-serif;
  opacity: 0.7;
  color: #2f2f2f;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  position: absolute;
  bottom: 0;
  right: -15%;
  left: auto;
  width: 10%;
}

.specialOrder {
    &__secondStep {
      background-color: #ffffff;
      margin-top: 35px;
      box-shadow: 0 5px 13px 1px rgba(163, 6, 60, 0.1);
    }
}
.swiper-sizing-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 842px;
  margin-left: 110px;
  padding-bottom: 148px;
  align-items: flex-end;
}
.swiper-sizing-slide {
  position: relative;
  cursor: pointer;
      &1 {
        max-width: 17%;
      }
      &2 {
        max-width: 18.2%;
      }
      &3{
        max-width: 21%;
      }
      &4 {
        max-width: 23.7%;
      }
      &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      &__text {
        font-family: "Circe",sans-serif;
        opacity: 0.8;
        color: #2f2f2f;
        font-size: 18px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        margin-top: 35px;
      }
      &__img {
        position: relative;
          img {
            max-width: 100%;
            object-fit: contain;
          }
          &-text {
            font-family: "Circe",sans-serif;
            color: #2f2f2f;
            font-size: 17px;
            font-weight: 400;
            font-style: normal;
            letter-spacing: normal;
            line-height: normal;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
      }
      &__chooseCakeBtn {
        display: none;
        border: none;
        outline: none;
      }
      &.choosed {
            &::after {
              content: '';
              width: 95%;
              height: 2px;
              background-color: #f50049;
              position: absolute;
              bottom: -5%;
              left: 0;
            }
      }
}
.specialOrder {
    &__thirdStep {
      background-color: #ffffff;
      margin-top: 35px;
      box-shadow: 0 5px 13px 1px rgba(163, 6, 60, 0.1);
      position: relative;
        &__numBlock {
          float: left;
        }
        &__cakeBg {
          position: absolute;
          top: 190px;
              img {
                max-width: 100%;
              }
        }
    }
}
.lookingSwiper-container {
  max-width: 683px;
}
.looking-slider {
  max-width: 842px;
  margin-left: 210px;
  margin-top: 25px;
  position: relative;
}
.swiper-looking-wrapper {
  padding-bottom: 10px;
}
.swiper-looking-slide {
  text-align: center;
  box-shadow: 0 10px 10px -3px rgba(246,246,246,0.75);
  cursor: pointer;
    &__textBox {
      margin-top: -80px;
      margin-bottom: 30px;
        &__title {
          font-family: "Circe",sans-serif;
          color: #2f2f2f;
          font-size: 20px;
          font-weight: 400;
          font-style: normal;
          letter-spacing: normal;
          line-height: inherit;
        }
        &__cost {
          font-family: "Playfair Display",sans-serif;
          color: #2f2f2f;
          font-size: 22px;
          font-weight: 700;
          font-style: normal;
          letter-spacing: normal;
          line-height:inherit;
        }
    }
    &__imgBlock {
          img {
            max-width: 100%;
          }
    }
    &__chooseCakeBtn {
      display: none;
      border: none;
      outline: none;
    }
    &.choosed {
      box-shadow: 0 0 15px 0 rgba(245,0,73,0.25);
    }
}
.swiper-looking-button-prev {
  left: 0;
}
.swiper-looking-button-next {
  right: 0;
}
.swiper-looking-pagination {
  bottom: 0;
  right: 0;
  text-align: right;
  font-family: "Circe",sans-serif;
  opacity: 0.7;
  color: #2f2f2f;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}
.cakeChoice {
  margin-top: 64px;
    &__title {
      font-family: "Playfair Display",sans-serif;
      color: #2d2829;
      font-size: 27px;
      font-weight: 700;
      font-style: normal;
      letter-spacing: 0.04px;
      line-height: normal;
    }
    &__wrapper {
      display: flex;
      justify-content: space-between;
      margin-right: 88px;
      padding-bottom: 70px;
      margin-top: 20px;
      align-items: flex-end;
    }
    &__item {
      border-bottom: 1px solid #c1b0af;
      padding-bottom: 2px;
          &__title {
            font-family: "Intro Script R - H 2 Base",sans-serif;
            color: #f50049;
            font-size: 27px;
            font-weight: 400;
            font-style: normal;
            letter-spacing: normal;
            line-height: normal;
          }
          &__text {
            font-family: "Circe",sans-serif;
            color: #2f2f2f;
            font-size: 18px;
            font-weight: 400;
            font-style: normal;
            letter-spacing: 0.33px;
            line-height: normal;
            margin-top: 15px;
            display: inline-block;
          }
    }
      &__chooseCakeBtn {
        border: none;
        outline: none;
      }
}

.reviews {
  position: relative;
  padding-bottom: 190px;
  overflow: hidden;
      &__illustration {
        position: absolute;
        top: 0;
        max-width: 40%;
            &1 {
              left: 0;
            }
            &2 {
              transform: scale(-1,1);
              right: 0;
            }
      }
      &__title {
        text-align: center;
        padding-top: 115px;
      }
}
.reviews__slider {
  max-width: 841px;
  position: relative;
  display: flex;
  justify-content: center;
  margin: 64px auto 0;
}
.reviews-slider {
  max-width: 616px;
}
.swiper-reviews-slide {
  display: flex;
  justify-content: space-between;
    &__imgBlock {
        img {
          max-width: 100%;
        }
    }
    &__textBlock {
          &__name {
            font-family: "Circe",sans-serif;
            color: #2d2829;
            font-size: 27px;
            font-weight: 700;
            font-style: normal;
            letter-spacing: normal;
            line-height: normal;
          }
          &__prof-age {
            font-family: "Circe",sans-serif;
            color: #2d2829;
            font-size: 20px;
            font-weight: 400;
            font-style: normal;
            letter-spacing: normal;
            line-height: normal;
          }
          &__info {
            max-width: 353px;
            margin-top: 23px;
                &__text {
                  font-family: "Circe",sans-serif;
                  color: #2d2829;
                  font-size: 18px;
                  font-weight: 400;
                  font-style: normal;
                  letter-spacing: normal;
                  line-height: normal;
                }
                &__link {
                  font-family: "Circe",sans-serif;
                  opacity: 0.7;
                  color: #f50049;
                  font-size: 16px;
                  font-weight: 400;
                  font-style: italic;
                  letter-spacing: normal;
                  line-height: normal;
                  margin-left: 5px;
                  cursor: pointer;
                  transition: all 0.5s ease-in-out;
                      &:hover {
                        opacity: 0.5;
                      }
                }
          }
    }
}
.swiper-reviews-button {
  padding: 10px 20px
}
.swiper-reviews-button-prev {
  left: 0;
}
.swiper-reviews-button-next {
  right: 0;
}
.swiper-reviews-pagination {
  font-family: "Circe",sans-serif;
  opacity: 0.7;
  color: #f50049;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  right: 30px;
  display: inline-block;
  width: 5%;
  left: auto;
  bottom: 0;
}

.about {
      &__title {
        line-height: inherit;
        display: inline-block;
        margin-bottom: 30px;
      }
      &__mainTitle {
        display: none;
      }
      &__wrapper {
        display: flex;
        align-items: center;
        position: relative;
      }
      &__textBox {
        max-width: 552px;
        margin-right: 90px;
            &__title {
              font-family: "Intro Script R - H 2 Base", sans-serif;
              color: #32313d;
              font-size: 26px;
              font-weight: 400;
              font-style: normal;
              letter-spacing: normal;
              line-height: normal;
              margin-bottom: 9px;
            }
            &__subTitle {
              font-family: "Circe",sans-serif;
              color: #2d2829;
              font-size: 15px;
              font-weight: 700;
              font-style: normal;
              letter-spacing: normal;
              line-height: normal;
              margin-bottom: 5px;
            }
            &__text {
              font-family: "Circe",sans-serif;
              color: #2d2829;
              font-size: 14px;
              font-weight: 400;
              font-style: normal;
              letter-spacing: normal;
              line-height: normal;
              margin-bottom: 10px;
              display: inline-block;
                  &:last-of-type {
                    margin-bottom: 0;
                  }
            }
            &__iconList {
              margin-top: 15px;
                  a {
                    transition: all .5s ease-in-out;
                        &:hover {
                              img {
                                transform: scale(1.1);
                              }
                        }
                  }
                  img {
                    margin-right: 15px;
                    transition: all .5s ;
                  }
            }
      }
      &__imgBox {
            img {
              max-width: 100%;
              object-fit: contain;
            }
      }
}

.quote {
  margin-top: 111px;
      &__container {
        text-align: center;
            img {
              max-width: 100%;
            }
      }
      &__text {
        font-family: "Playfair Display",sans-serif;
        color: #2d2829;
        font-size: 25px;
        font-weight: 700;
        font-style: italic;
        letter-spacing: 0.22px;
        line-height: normal;
        text-align: center;
        max-width: 616px;
        margin: 40px auto 50px auto;
      }
}

.advantages {
  margin-top: 120px;
      &__container {
        max-width: 1440px;
        margin: 0 auto;
        position: relative;
      }
      &__leafBg {
        position: absolute;
        top: 0;
        left: 6%;
      }
      &__cherryBg {
        position: absolute;
        top: 5%;
        left: 22%;
      }
      &__strawBg {
        position: absolute;
        top: 15%;
        left: 0;
      }
      &__leavesBg {
        position: absolute;
        bottom: -10%;
        left: 30%;
      }
      &__title {
        text-align: center;
      }
      &__subTitle {
        font-family: "Intro Script R - H 2 Base",sans-serif;
        color: #32313d;
        font-size: 35px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: center;
        margin-top: 12px;
      }
      &__wrapper {
        display: flex;
        align-items: center;
      }
      &__imgBox {
        margin-right: 120px;
        z-index: 1;
            img {
              max-width: 100%;
              object-fit: contain;
              margin-left: -12px;
            }
      }
      &__textBox {
            &__block {
              display: flex;
              align-items: center;
            }
            &__firstBlock {
              margin-bottom: 10px;
            }
            &__subTitle {
              font-family: "Circe",sans-serif;
              color: #000000;
              font-size: 20px;
              font-weight: 700;
              font-style: normal;
              letter-spacing: normal;
              line-height: normal;
            }
            &__text {
              font-family: "Circe",sans-serif;
              color: #000000;
              font-size: 20px;
              font-weight: 400;
              font-style: normal;
              letter-spacing: normal;
              line-height: normal;
              max-width: 372px;
              display: inline-block;
            }
            &__firstTextWrapper {
              margin-left: 23px;
            }
            &__secondTextWrapper {
              margin-left: 17px;
            }
            &__receiptIcon {
              margin-left: 9px;
            }
      }
}

.care {
      &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      &__textBox {
        max-width: 470px;
      }
      &__title {
        margin-bottom: 15px;
      }
      &__subTitle {
        font-family: "Intro Script R - H 2 Base",sans-serif;
        color: #32313d;
        font-size: 35px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
      }
      &__text {
        font-family: "Circe", sans-serif;
        color: #000000;
        font-size: 20px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 24px;
      }
      &__imgBox {
            img {
              max-width: 100%;
              object-fit: contain;
            }
      }
}

.orderInfo {
  background: linear-gradient(to bottom, rgb(232, 56, 63) 0%, rgb(208, 35, 48) 100%);
  overflow: hidden;
  &__container {
    max-width: 1440px;
    margin: 0 auto;
  }
  &__wrapper {
    position: relative;
      }
      &__imgBox {
            img {
              display: block;
              margin-left: -5%;
            }
      }
      &__textBox {
        max-width: 430px;
        position: absolute;
        top: 15vh;
        left: 65%;
            &__block {
              margin-bottom: 35px;
            }
            &__title {
              color: #ffffff;
              margin-bottom: 45px;
            }
            &__number {
              float: left;
              font-family: "Playfair Display",sans-serif;
              color: #ffffff;
              font-size: 64px;
              font-weight: 700;
              font-style: normal;
              letter-spacing: normal;
              line-height: 50%;
              margin-bottom: 65px;
              margin-right: 20px;
            }
            &__subTitle {
              font-family: "Circe",sans-serif;
              color: #ffffff;
              font-size: 21px;
              font-weight: 700;
              font-style: normal;
              letter-spacing: 0.21px;
              line-height: normal;
            }
            &__text {
              font-family: "Circe",sans-serif;
              color: #ffffff;
              font-size: 20px;
              font-weight: 400;
              font-style: normal;
              letter-spacing: normal;
              line-height: 24px;
            }
      }
}

.contacts {
  position: relative;
  background-image: url("../img/contacts__bgImg.png");
  background-repeat: no-repeat;
  background-size: 65%;
  background-position: 100% 100%;
      &__title {
        margin-top: 74px;
        margin-bottom: 25px;
      }
      &__subTitle {
        font-family: "Intro Script R - H 2 Base",sans-serif;
        color: #32313d;
        font-size: 35px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        margin-bottom: 5px;
      }
      &__bgImg {
        position: absolute;
        right: 0;
        bottom: 0;
      }
      &__wrapper {
        display: flex;
        padding-bottom: 297px;
      }
      &__form {
        margin-right: 82px;
            input {
              border: none;
              background-color: transparent;
              border-bottom: 1px solid #c9bcbb;
              margin-bottom: 45px;
              font-size: 16px;
              min-width: 550px;
              padding: 0;
              transition: all .5s ease-in-out;
                  &::placeholder {
                    opacity: 0.2;
                    color: #000000;
                    font-family: "Circe",sans-serif;
                    font-size: 16px;
                    font-weight: 400;
                    font-style: normal;
                    letter-spacing: normal;
                    line-height: normal;
                  }
                  &:hover {
                    border-bottom: 1px solid #f50049;
                  }
                  &:focus {
                    border-bottom: 1px solid #f50049;
                  }
            }
            textarea {
              border: none;
              background-color: transparent;
              border-bottom: 1px solid #c9bcbb;
              padding: 0;
              margin-bottom: 80px;
              font-size: 16px;
              resize: none;
              transition: all .5s ease-in-out;
                  &:hover {
                    border-bottom: 1px solid #f50049;
                  }
                  &:focus {
                    border-bottom: 1px solid #f50049;
                  }
                  &::placeholder {
                    opacity: 0.2;
                    color: #000000;
                    font-family: "Circe",sans-serif;
                    font-size: 16px;
                    font-weight: 400;
                    font-style: normal;
                    letter-spacing: normal;
                    line-height: normal;
                  }
            }
            &__text {
              font-family: "Circe",sans-serif;
              color: #000000;
              font-size: 20px;
              font-weight: 400;
              font-style: normal;
              letter-spacing: normal;
              line-height: normal;
              margin-bottom: 50px;
            }
            &__sendBtn {
              max-width: 180px;
              border: none;
              background-color: #f50049;
              border-radius: 26px;
              font-family: "Circe",sans-serif;
              color: #fefefe;
              font-size: 19px;
              font-weight: 400;
              font-style: normal;
              letter-spacing: normal;
              line-height: normal;
              padding: 12px 45px 11px 45px;
              cursor: pointer;
              text-decoration: none;
              transition: all 500ms ease;
              &:hover {
                background: rgba(0,0,0,0);
                color: #f50049;
                box-shadow: inset 0 0 0 5px #f50049;
              }
            }
      }
      &__inputForm {
        display: flex;
        flex-direction: column;
      }
      &__info {
        font-family: "Circe",sans-serif;
        color: #000000;
        font-size: 20px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 24px;
            &__icons {
              margin-top: 24px;
                  a {
                    margin-right: 25px;
                        img {
                          transition: all .5s;
                        }
                        &:hover {
                              img {
                                transform: scale(1.2);
                              }
                        }
                  }
            }
      }
}

.footer {
  background-color: #e8e8e8;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 35px;
    border-bottom: 1px solid #d1d1d1;
    padding-bottom: 30px;
  }
  &__logo {
    font-family: "Playfair Display",sans-serif;
    color: #2d2829;
    font-size: 28px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0.36px;
    line-height: normal;
    text-decoration: none;
  }
  &__menu {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    width: 73%;
    &__item {
      font-family: "Circe", sans-serif;
      color: #2d2829;
      font-size: 16px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      line-height: normal;
      text-decoration: none;
      transition: all 500ms ease-in-out;
          &:hover {
            color: #f50049;
          }
    }
  }
  &__icons {
    margin-top: 8px;
        a {
          opacity: 0.5;
          margin-right: 15px;
          transition: all 500ms ease-in-out;
              &:last-of-type {
                margin-right: 0;
              }
              &:hover {
                opacity: 1;
              }
              &:hover img {
                transform: scale(1.2);
              }
        }
  }
  &__copyright {
    opacity: 0.5;
    color: #000000;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 25px;
    text-align: center;
    padding: 15px 0;
  }
}

